/*
	Supersized - Fullscreen Slideshow jQuery Plugin Stylesheet
	Version 3.1 Core
	www.buildinternet.com/project/supersized
	
	By Sam Dunn / One Mighty Roar (www.onemightyroar.com)
*/

	*{ margin:0; padding:0; }
	body { overflow:hidden;/*Needed to eliminate scrollbars*/ background:#000; }
	
	/*Area to place content normally*/
	#page-wrapper{  width:100%; height:100%; position:absolute; top:0; overflow:auto; z-index:4; text-align:center; }
	
	/*Supersize Plugin Styles*/
	#loading { position: absolute; top: 49.5%; left: 49.5%; z-index: 10; width: 24px; height: 24px; text-indent: -999em; background-image: url(../img/progress.gif); }
	
	#supersized{ position:fixed; }
		#supersized img{ outline:none; border:none; position:absolute; z-index: -1; -ms-interpolation-mode: bicubic; }

		