/*
Supersized - Fullscreen Slideshow jQuery Plugin Stylesheet Version 3.0
By Sam Dunn (www.buildinternet.com // www.onemightyroar.com)
Version: supersized.3.1.js
Website: www.buildinternet.com/project/supersized
*/

	*{ margin:0; padding:0; }
	body { overflow:hidden;/*Needed to eliminate scrollbars*/ background:#000; }
	
	/*Area to place content normally*/
	#page-wrapper{  width:100%; height:100%; position:absolute; top:0; overflow:auto; z-index:4; text-align:center; }
	
	/*Supersize Plugin Styles*/
	#navigation{ float: right; margin:10px 20px 0 0; }
	#loading { position: absolute; top: 49.5%; left: 49.5%; z-index: 10; width: 24px; height: 24px; text-indent: -999em; background-image: url(../img/progress.gif); }
	
	#supersized{ position:fixed; }
		#supersized img{ -ms-interpolation-mode: bicubic; }
		#supersized img, #supersized a{ outline:none; border:none; min-height:100%; min-width:100%; position:absolute; z-index: -1; }
		#supersized .activeslide, #supersized .activeslide img{ z-index: 2; }

		